@font-face {
    font-family: Rubik;
    src: url(../assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf);
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: Rubik;
}

:root{
    --h1-font-size: 3rem;
    --p-font-size:1rem;
    --input-size: 10.75rem;
}

@media (min-width: 768px) {
    :root {
      --h1-font-size: 4rem;
      --p--font-size:2rem;
      --input-size: 15.75rem;
    }
}

@media (min-width: 510px) {
    :root {
      --h1-font-size: 2rem;
      --p--font-size:1rem;
      --input-size: 15.75rem;
    }
}

@media (min-width: 500px) {
    :root {
      --h1-font-size: 1.5rem;
      --p--font-size:0.75rem;
      --input-size: 15.75rem;
    }
}
  
@media (min-width: 1024px) {
    :root {
      --h1-font-size: 5rem;
      --p--font-size:3rem;
      --input-size: 20.75rem;
    }
}

.hero-container{
    position: relative;
    width: 100%;
    height: 350px;
    background: url(../assets/img/imagen-asturias.jpg) center/cover;
    clip-path: ellipse(49% 40% at 50% 50%);
     
}

.hero-container::before{
    content: "";
    background: #000000; 
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}


.hero-secondary{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body{  
    margin: 0;
}

.h1-hero{
    color: white;
    font-size: var(--h1-font-size);
}

.p-hero{
    color: white;
    font-size: var(--p-font-size);
}

