@font-face {
    font-family: Rubik;
    src: url(../assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf);
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: Rubik;
}

:root{
    --h1-font-size: 3rem;
    --p-font-size:1rem;
    --input-size: 10.75rem;
    --form-width:30%;
}

@media (min-width: 768px) {
    :root {
      --h1-font-size: 4rem;
      --p--font-size:2rem;
      
      
    }

    .form-div{
        width: 510px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
    }
}

@media (min-width: 370px) {
    :root {
      --h1-font-size: 1rem;
      --p--font-size:0.5rem;
      
      
    }

    .form-div{
        width: 270px;
        margin: 0 auto;    
    }

    body{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 510px) {
    :root {
        --h1-font-size: 1.5rem;
        --p--font-size:0.75rem;
        
      
    }
    body{
        padding-right: 15px;
        padding-left: 15px;
    }

    .form-div{
        width: 350px;
        padding: 5px;
        margin: 0 auto;
    }

}

@media (min-width: 500px) {
    :root {
      --h1-font-size: 1.5rem;
      --p--font-size:0.75rem;
      
    }

    .form-div{
        width: 450px;
        padding: 5px;
        margin: 0 auto;
    }

    body{
        padding-right: 15px;
        padding-left: 15px;
    }

}


  
@media (min-width: 1024px) {
    :root {
      --h1-font-size: 5rem;
      --p--font-size:3rem;
      --input-size: 20.75rem;
      
    }

    .form-div{
        width: 100%;
        margin: 0 auto;
    }

}

.hero-container{
    position: relative;
    width: 100%;
    height: 400px;
    background: url(../assets/img/imagen-asturias.jpg) center/cover;
    clip-path: ellipse(49% 40% at 50% 50%);
     
}

.hero-container::before{
    content: "";
    background: #000000; 
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}


.hero-secondary{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body{  
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
}

.h1-hero{
    color: white;
    font-size: var(--h1-font-size);
}

.p-hero{
    color: white;
    font-size: var(--p-font-size);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

}

.form-div{
    width: 450px;
    border: 1px solid black;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background: rgb(114,185,234);
    background: linear-gradient(90deg, rgba(114,185,234,1) 3%, rgba(51,126,171,1) 59%);
}

input{
    background-color: rgb(210, 203, 203);
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.mensaje{
    resize: none;
}

